<div class="row">
  <div class="col-xs-12 col-sm-4" style='font-weight: bold;'><%=t('manager') %></div>
  <div class="col-xs-12 col-sm-8" style='text-transform: capitalize'><%= link_to @team.user.full_name, edit_user_registration_path(@team.user_id) %></div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4" style='font-weight: bold;'><%=t('name') %></div>
  <div class="col-xs-12 col-sm-8" style='text-transform: capitalize'><%= @team.name %></div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4" style='font-weight: bold;'><%=t('team.winning_percentage') %></div>
  <div class="col-xs-12 col-sm-8" style='text-transform: capitalize'><%= @team.winning_percentage %></div>
</div>
<hr/>