<% provide(:title, @team.name) %>
<%= render partial: 'layouts/pageheader', locals: {subtitle: 'Team Details', breadcrumbs: {'Teams' => teams_path, @team.name => nil}} %>

<div class="container">
  <div class="row">
    <div class="col-xs-5 col-sm-5">
      <%= render :partial => 'teams/form', layout: 'layouts/form_panel', locals: { team: @team, title: 'Summary' }  %>
      <div class="form-group">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    teams_path, :class => 'btn btn-default'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_team_path(@team), :class => 'btn btn-default' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    team_path(@team),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
      </div>
    </div> <!-- close left side 5 -->

    <div class="col-xs-12 col-sm-7">
      <%= render :partial => 'player_table', layout: 'layouts/form_panel', locals: { players: @team.players, title: 'Players' }  %>
      <div class="col-md-4 col-md-offset-4">
        <%= link_to t('team.manage_players'), manage_players_team_path(@team), :class => 'btn btn-primary'  %>    
      </div>
    </div> <!-- close right side 7 -->
  </div> <!-- close row -->
</div> <!-- close container -->

