<%- model_class = League -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= t('.league.president') %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><%= link_to league.name, league_path(league) %></td>
        <td><%= league.user.full_name %></td>
        <td><%=l league.created_at, format: :long %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.league.new_league', default: t("helpers.links.new")), new_league_path, class: 'btn btn-primary' %>
