<% provide(:title, @league.custom_name) %>
<%- model_class = League -%>

<%= render partial: 'layouts/pageheader', locals: {subtitle: 'League Details', breadcrumbs: {'Leagues' => leagues_path, @league.name => nil}} %>

<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-5">
    <%= render :partial => 'league_summary', layout: 'layouts/form_panel', locals: { team: @team, title: 'Summary' }  %>
  </div>
  
  <div class="col-xs-12 col-sm-7">
    <%= render :partial => 'teams/table', layout: 'layouts/form_panel', locals: { teams: @league.teams, model_class: Team, title: "Teams registered" }  %>
  </div>
</div>
  </div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              leagues_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_league_path(@league), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              league_path(@league),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>