<div class="collapse navbar-collapse">
	<ul class="nav navbar-nav navbar-left">
		<li><%= link_to 'Home', root_path %></li>
		<% if user_signed_in? %>
		<li><%= link_to 'Leagues', leagues_path  %></li>
		<li><%= link_to 'Teams', teams_path  %></li>
    <li><%= link_to 'Players', players_path  %></li>
		<% else %>
		<li><%= link_to 'Sobre', root_path  %></li>
		<li><%= link_to 'Funcionalidades', root_path  %></li>
		<li><%= link_to 'Contato', root_path  %></li>
		<%end%>
	</ul>

	<%# add navigation links to this file %>
	<ul class="nav navbar-nav navbar-right">
		<% if user_signed_in? %>
		<li><%= link_to current_user.email, edit_user_registration_path %></li>
		<li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
		<% else %>
		<%#  <li><%= link_to 'Sign in', new_user_session_path %></li>
		<%#  <li><%= link_to 'Sign up', new_user_registration_path %></li>
		<li>
			<%= form_for(:user, :url => session_path(:user), :html => {:role => 'form', class: 'navbar-form'}) do |f| %>
			<div class="form-group">
				<%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
			</div>
			<div class="form-group">
				<%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
			</div>
			<%= f.submit 'Sign in', :class => 'btn btn-primary navbar-btn' %>
			<% end %>
		</li>
		<% end %>
	</ul>
</div>